* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 12px;
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: solid 1px;
    margin-bottom: 24px;
}

h1 span {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

input {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid;
}

button {
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}